:root{
    --robot-font: "Roboto", sans-serif;
    --main-color: #009ad8;
    --main-bg: #1E202B;
}
body{
    font-family: var(--robot-font);
    background-color: var(--main-bg);
}
.navbar{
    --bs-navbar-brand-padding-y: 0;
    padding: 0;
}


.header-Site{
    padding: 50px 0;
    background-color: var(--main-bg);
}

.brand-img{
    width: 64px;
    height: 38px;
    margin-right: 10px;

}

.brand-text h1{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: .9em;
    color: white;
    font-family: var(--robot-font);
}

.brand-text small{
    font-size: .5em;
    margin-top: -5px;
    color: white;
}


.navbar .nav-link{
    padding: 5px;
    border-radius: 30px;
    color: white;
    border: 2px solid transparent;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 400;
}

.navbar .nav-item{
    float: left;
    
    margin-left: 10px;
}

.navbar .nav-link.active{
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    --bs-navbar-nav-link-padding-x : 25px;
}}

.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .nav-link:target{
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

/* hero sec */

.hero-sec{
    padding: 70px 0;
    background-image: url(../imgs/banner.png);
    min-height: 350px;
    background-size: cover;
}

.find-location{
    position: relative;
    margin-bottom: 70px;
}
.default input[type="text"] {
    width: 100%;
    padding: 15px 50px 15px 20px;
    background: #1e202b;
    color: white;
    border-radius: 30px;
}

.default input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;

    border: none;
    background: #009ad8;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
}
.form-control{
    border: 0px solid transparent;
}

.form-control:focus{
    
    border: 0px solid transparent;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

.form-control::placeholder{
    color: gray;
}

.text-right{
    text-align: right;
}

.btn-contact{
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

.card-header{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.card-header p{
    margin-bottom: 0;
    font-size: 14px;
}

.card-content{
    text-align: left;
    padding: 30px 20px 0px 20px;
}
.card-content h5{
    font-size: 1.7142857143em;
    color: white;
    font-weight: 700;
}

.card-footer{
    padding-bottom: 30px ;
    padding-left: 20px;
}

.card-footer span{
    margin-right: 20px;
}

.card-content h3{
    font-size: 1.15em;
}

.card-content h2{
    font-size: 5.4285714286rem;
    margin-right: 30px; 
    color: white;
    font-weight: 700;
    line-height: 1.2;
}

.card-content p{
    color: #009ad8;
    margin: 20px 0;
    font-size: 14px;
}

.content-weather{
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
    color: #bfc1c8;
}

.mid-card{
    background-color: #262936;
}

.footer-sec .default{
    margin-bottom: 30px;
}

.social-links a{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    text-align: center;
    vertical-align: middle;
    color: #009ad8;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}

.social-links a:hover {
    background: #009ad8;
    color: white;
}

.footer-sec{
    background: #262936;
    padding: 50px 0;
}


.footer-sec .cpy-rigth{
    color: #bfc1c8;
    font-size: 14px;
}


.content-link span{
    color: #bfc1c8;
    font-size: 14;
}
.content-link a{
    color: #bfc1c8;
    font-size: 14;
    text-decoration: none;
}

.content-link a:hover{
    text-decoration: underline;
}

.grag-arrow{
    color: rgb(172, 166, 166);
    font-size: 10px;
    margin:0 10px;
}

.content-link{
    background: #262936;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 13px;
    font-size: 0.8285714286em;
}

.map{
    height: 220px;
}
.contact-form{
    color: #bfc1c8;
    padding: 70px 0;
    font-size: 14px;
}

.contact-info{
    padding: 20px;
}

.contact-info a{
    color: #bfc1c8;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
}

.contact-details{
    background-color: #262936;
}

.contact-img{
    margin-right: 10px;
}

.section-title{
    font-size: 3.1714285714em;
    font-weight: 300;
    color: white;
}

.contact-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #393c48;
    background: transparent;
    border-radius: 30px;
}

.contact-input:hover,
.contact-input:focus,
.contact-input:focus-visible {
    border: 0px;
    box-shadow: 0 0 10px #009ad8;
}



@media (min-width: 768px){
    .container {
        max-width: 750px;
}}

@media (min-width: 992px){
    .container {
    max-width: 970px;
}}
    
    @media (min-width: 1200px){
        .container {
            max-width: 1170px;
}}

@media (min-width: 1400px){
    .container {
            max-width: 1170px !important;
}}